<body>
 
   
    <main>

        <!-- slider Area Start-->
        <div class="slider-area ">
            <!-- Mobile Menu -->
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" 
     style="background-image: url('assets/img/hero/h2_hero.png');  background-position: right;"  >
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Find the most exciting startup jobs</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Search Box -->
                        <div class="row">
                            <div class="col-xl-8">
                                <!-- form -->
                                <form action="#" class="search-box">
                                    <div class="input-form">
                                        <input type="text" placeholder="Job Tittle or keyword">
                                    </div>
                                    <div class="select-form">
                                        <div class="select-itms">
                                            <select name="select" id="select1">
                                                <option value="">Location BD</option>
                                                <option value="">Location PK</option>
                                                <option value="">Location US</option>
                                                <option value="">Location UK</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-form">
                                        <a href="#">Find job</a>
                                    </div>	
                                </form>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
      <app-category></app-category>
        <!-- Online CV Area Start -->
     <app-banner></app-banner>
        <!-- Online CV Area End-->
        <!-- Featured_job_start -->
       <app-offers></app-offers>
        <!-- Featured_job_end -->
        <!-- How  Apply Process Start-->
      <app-about-site></app-about-site>
        <!-- How  Apply Process End-->
        <!-- Testimonial Start -->
       <app-testimonial></app-testimonial>
        <!-- Testimonial End -->
          <!-- Blog Area Start -->
       <app-blog-area></app-blog-area>
        <!-- Blog Area End -->
      
    </main>
   